.weather-today{
    border-style: solid;
    border-color: grey;
    border-width: 2px;
}
#cur-temp,#cur-windSp,#cur-hum {
    font-size: 20px;
    margin: 15px 20px;
} 
#c-icon{
    width :80px;
    height: 80px;
}
#forecast-list{
    display: inline-block;
}
.container{
    display: flex;
    column-gap: 10px;
}
.card-body{
    font-size: 15px;
}

.s-History{
 display: block;   
 border-style:hidden;
 background-color:darkgray;

}

